@media screen and(max-width:800px) {
    body{
        background-color: blueviolet;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
    }
    nav ul {
        justify-content: center;
        flex-direction: column;
    }
}
